<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="百度电子地图" value="http://online{3}.map.bdimg.com/tile/?qt=tile&amp;x={0}&amp;y={1}&amp;z={2}&amp;styles=pl&amp;udt=20150713&amp;scaler=1"/>
    <add key="百度卫星地图" value ="http://shangetu{3}.map.bdimg.com/it/u=x={0};y={1};z={2};v=009;type=sate&amp;fm=46&amp;udt=20141015 "/>
    <add key="百度道路地图" value ="http://online{3}.map.bdimg.com/tile/?qt=tile&amp;x={0}&amp;y={1}&amp;z={2}&amp;styles=sl&amp;udt=20141015"/>
  </appSettings>
</configuration>